@model UserModel

@{
    ViewBag.Title = "Şifre Sıfırla";
}

@if (ViewBag.SuccesMessage != null)
{
    <div class="alert alert-primary">
        @ViewBag.SuccesMessage
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-secondary">
        @ViewBag.ErrorMessage
    </div>
}

<div class="container mt-5">
    <form method="post" action="/Account/ResetPassword">
        <div class="mb-3">
            <label for="Username" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="Username" disabled value="@Model.Username" />
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" disabled value="@Model.Email" />
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="Password" name="Password" required />
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />

        <button type="submit" class="btn btn-primary">Onayla</button>
    </form>
</div>
